<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
    <!--使用了MybatisX插件会报错 无法直接指定    -->
    <!--查询  resultType="com.itheima.domain.User 查询完毕后封装成一个resultType类型返回  -->
    <select id="findAll" resultType="user">
        select * from user
    </select>

    <!--插入 插入操作是必须获得的参数是一个parameterType对象才能向数据库进行操作 -->
    <insert id="save" parameterType="user">
        insert into user values(#{id},#{username},#{password})

    </insert>
    <!--更新    -->
    <update id="update" parameterType="user">
        update user set username=#{username},password = #{password} where id = #{id}
    </update>

    <!--删除  parameterType只需要接收一个int类型的参数 删除 java.lang.Integer 有别名=int  -->
    <update id="delete" parameterType="java.lang.Integer">
        delete from user where id = #{id}
    </update>
</mapper>